apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: {{ .Values.fastapi.image_name }}
        imagePullPolicy: IfNotPresent
        command: ["uvicorn"]
        args:
          - "main:app"
          - "--host"
          - "0.0.0.0"
          - "--port"
          - "8000"
        ports:
        - containerPort: 8000