apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["prometheus:9090"]

      - job_name: "fastapi"
        metrics_path: /metrics
        static_configs:
          - targets: ["fastapi:8000"]
